<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NGraphics" version="0.5.0" targetFramework="portable45-net45+win8" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="portable45-net45+win8" />
</packages>